* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(./img/fondoindex.jpg);
  background-size: cover;
}

aside {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.asideColor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.162);
  background-color: white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}

.asideColor p:first-child {
  margin-bottom: 40px;
}

.asideColor p {
  text-align: center;
}

.asideColor p.infoRegNombre {
  margin-bottom: 30px;
  font-size: 12px;
}

.asideColor p.infoEscEquipo {
  font-size: 12px;
}

#nombreIzq,
#equipoIzq,
#nombreDer,
#equipoDer{
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
}

#nombreIzq,
#nombreDer{
  padding-left: 3px;
}

#equipoIzq option,
#equipoDer option{
  font-size: 25px;
}

.botonJugar {
  position: absolute;
  width: 13%;
  height: 8%;
  background-color: green;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin-bottom: 5%;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: large;
  cursor: pointer;
  color: white;
  display: none;
}

.equiRealIzq,
.equiBarcaIzq,
.equiRealDer,
.equiBarcaDer {
  display: none;
  position: relative;
  height: 30%;
  margin-top: 5%;
}
